<div class="row">
  <div class="col-sm-4 text-center">
      <img src="/images/official.jpg" style="width: 180px; border-radius: 6px;">
  </div>
  <div class="col-sm-8">
    <h4>Huh?</h4>
    <p>You will either run a time you’re happy with, or you will get a shot at winning.
      Winning should make you happy, right?
      If you don’t win, don’t worry - be happy.
    </p>
    <p>Ergo, g10k will make you happy.</p>
    <p>Crucially, winning <em>doesn’t depend on running faster than other people</em>.</p>
  </div>
</div>

<h4 style="margin-top: 2em;">The g10k system</h4>
<ol class="text-left">
    <li>Each runner nominates a time they would personally be pleased to achieve.</li>
    <li>Runners leave the start line handicapped so that if they all ran their nominated time, they’d all finish simultaneously.</li>
    <li>Winner is the first person to cross the finish line who <i>doesn’t</i> beat their nominated time.</li>
    <li>No “goalhanging”.  Timing your own run or using <span class="caps">GPS</span> or something is not allowed.</li>
</ol>


<h4 style="margin-top: 2em;">The inaugural g10k was held in 2013…</h4>
<p>…seven intrepid runners took part.</p>
<p class="text-center">
    <iframe style="max-width: 100%" width="560" height="315" src="https://www.youtube.com/embed/56QfsIA8Ig8" frameborder="0" allowfullscreen></iframe>
</p>
<ul>
    <li>Four of the participants ran faster than their nominated pace, three ran slower.</li>
    <li>The mean difference between expected runtime and actual runtime was only 7 seconds (root mean square was 2 min 28 sec or about 6%)</li>
    <li>Absolute average speeds varied by a factor of 2.27 across the field.</li>
    <li>The absolute fastest runner won - but he might not have done if his nearest challenger hadn’t got lost a bit en route.</li>
</ul>