<div ng-app="g10kAdminApp">
	<div ng-controller="AdminCtrl">
		<p>
        	<button class="btn btn-default" ng-click="startRace()" ng-show="race.state == 'unstarted'">Start race</button>
        	<button class="btn btn-default" ng-click="resetRace()">Reset race</button>
        </p>

	    <table class="table table-striped table-bordered table-admin">
	    	<tr>
	    		<th style="width: 5%"  ></th>
	    		<th style="width: 45%" >Name</th>
	    		<th style="width: 25%" >Half way</th>
	    		<th style="width: 25%" >Finished</th>
	    	</tr>
	    	<tr ng-repeat="runner in race.runners">
	    		<td style="padding: 18px; text-align: right;">{{ runner.race_number }}</td>
	    		<td nowrap="nowrap">
	    			<img class="runnerthumb img-circle" ng-src="{{ runner.thumbnail_url || '/images/nobody.png' }}" />
                    <b class="runnername">{{ runner.name }}</b>
                    <span class="runnerstatus text-small">{{ runner.status }}</span>
	    		</td>
	    		<td class="action">
	    			<input id="action50{{runner.id}}" ng-disabled="getCheckPoint(runner.id, 50)"  type="radio" name="action" ng-model="checkpoint.value" value="{{ runner.id }}|50"></input>
	    			<label for="action50{{runner.id}}"></label>
	    		</td>
	    		<td class="action">
	    			<input id="action100{{runner.id}}" ng-disabled="getCheckPoint(runner.id, 100)"  type="radio" name="action" ng-model="checkpoint.value" value="{{ runner.id }}|100"></input>
	    			<label for="action100{{runner.id}}"></label>
	    		</td>
	    	</tr>
	    </table>
	    <p class="fixed-bottom text-center">
		    <button class="now btn btn-large btn-primary" ng-click="submitAction()" ng-show="race.state == 'running'">NOW!</button>
	    </p>
	</div>

</div>