<div ng-app="g10kAdminApp">
	<div ng-controller="AdminCtrl">
	    <div style="height: 2em;">
	        <button ng-click="startRace()" ng-show="race.state == 'unstarted'">Start race</button>
	        <button ng-click="resetRace()">Reset race</button>
	    </div>

	    <table border=1>
	    	<tr>
	    		<th>Name</th>
	    		<th>50%</th>
	    		<th>Finished</th>
	    		<th>Status</th>
	    	</tr>
	    	<tr ng-repeat="runner in race.runners">
	    		<td>{{ runner.name }}</td>
	    		<td class="action">
	    			<input ng-disabled="getCheckPoint(runner.id, 50)"  type="radio" name="action" ng-model="checkpoint.value" value="{{ runner.id }}|50"></input>
	    		</td>
	    		<td class="action">
	    			<input ng-disabled="getCheckPoint(runner.id, 100)"  type="radio" name="action" ng-model="checkpoint.value" value="{{ runner.id }}|100"></input>
	    		</td>
	    		<td>{{ runner.status }}</td>
	    	</tr>
	    </table>

	    <button ng-click="submitAction()" ng-show="race.state == 'running'">NOW!</button>
	    <pre>{{ checkpoint }}</pre>
	</div>

</div>