<div class="jumbotron box" style="max-width: 85%; margin: auto; background-image: url(/images/startline.jpg); background-size: cover; background-position: bottom;">
  <div class="boxcontent">
    <div class="boxwriting">
      <h1>g10k</h1>
      <p class="lead">
        A running <s>race</s> event that makes everybody happy.
      </p>  
    </div>
  </div>
</div>

<div style="margin: 2em auto; max-width: 85%" >
  <h4 class="text-center" style="margin: 2em;">2015’s premier running and grilling event is back for 2016!</h4>
  <div class="well">
    <p class="lead">Date: Sunday 10th July</p>
    <p class="lead">Time: late morning onwards</p>
    <p class="lead">Location: Girton</p>
    <p class="lead">Wanted: helpers and race officials.  And runners!</p>
  </div>
  <p>Previous g10ks have featured:
    <ul class="text-left">
      <li>good weather</li>
      <li>balloons</li>
      <li>clapping &amp; cheering</li>
      <li>eating BBQ food</li>
      <li>a bouncy castle</li>
      <li>water fighting</li>
    </ul>
  </p>
  <p>Come for the running. Stay for the BBQ.  Either or both, it’s all good.</p>
  <p class="text-center">
    <a class="btn btn-lg btn-primary" href="/about">About g10k</a>
  </p>
</div>