<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<div ng-app="g10kApp">
    <div ng-controller="RunnersCtrl">
        <p ng-hide="runners.length > 0">Loading...</p>
        <table border="1" ng-show="runners.length > 0">
            <tr>
                <th>
                    <a ng-click="sortBy('name')">
                    Name
                    </a>
                </th>
                <th>
                    Race time
                </th>
                <th>
                    <a ng-click="sortBy('nominatedDuration')">
                    Nominated time
                    </a>
                </th>
                <th>
                    <a ng-click="sortBy('predictedDuration')">
                    Predicted time
                    </a>
                </th>
                <th>
                    <a ng-click="sortBy('deltaPrediction')">
                    &#x1D6AB;<sub>PN</sub>
                    </a>
                </th>
                <th>
                    <a ng-click="sortBy('deltaActual')">
                    &#x1D6AB;<sub>AN</sub>
                    </a>
                </th>
            </tr>
            <tr ng-repeat="runner in runners | orderBy:predicate ">
                <td>{{ runner.name }}</td>
                <td class="time">
                    <span data-time="{{ runner.startTime.getTime() }}" ng-show="race.state != 'unstarted'" ng-class="{'time-live': runner.status != 'finished'}" />

                    {{ runner.actualDuration | displayTime }}
                </td>
                <td class="time">{{ runner.nominatedDuration | displayTime }}</td>
                <td class="time">{{ runner.predictedDuration | displayTime }}</td>
                <td class="time">{{ runner.deltaPrediction | displayTime }}</td>
                <td class="time">{{ runner.deltaActual | displayTime }}</td>
                <td>{{ runner.status }}</td>
            </tr>
        </table>
    </div>
</div>