<p>Planned route for 2016 is the same as last year: the so-called "lollipop loop".</p>
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=zSkFC2wcxgNY.kF3rDb-JysfE" width="640" height="480"></iframe>