/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-size: 12px;
	font-family: Helmet, Freesans, Helvetica, Arial, sans-serif;
	line-height: 1.5;
  	font-weight: 300;
}

.time, .table tbody tr td.time {
	font-family: monospace;
	text-align: right;
	vertical-align: middle !important;
	/*background-color: rgba(0,0,255,0.4);*/
}

.action {
	text-align: center;
	width: 3em;
	height: 3em;
}

.action input {
	width: 100%;
	height: 3em;
}

.action input[disabled] {
	display: none;
}

.runnerthumb {
	max-width: 32px;
	float: left;
	margin: 0 4px;
	background-color: #666;
}

.runnernumber, .runnername {
	margin-top: 0.6em;
	display: block;
	line-height: 0.7em;
}

.runnerstatus {
	font-size: 80%;
	line-height: 80%;
}